Django==2.0.6
djangorestframework==3.9.1
django-templated-mail==1.1.1
psycopg2==2.7.5
djoser==1.1.5
pytz==2018.5
PyYAML==3.12
requests==2.18.4
semantic-version==2.5.0
six==1.11.0
tabulate==0.7.5
termcolor==1.1.0
texttable==0.9.1
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.48.0
